.wrapping-wrapper {
  min-height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .wrapping-item-wrapper {
    height: 17rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start;
    background-color: rgba(78, 62, 122, 0.2);
    border-radius: 10px;

    input {
      height: 16px;
      background: transparent;
      border-radius: 0;
      font-family: "Montserrat", sans-serif !important;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      padding: 0;
      outline: none;
      box-shadow: none;
      border: none;

      transition: border-color .25s ease;

      &:focus {
          background-color: transparent;
      }

      &:disabled {
          background-color: transparent !important;
          border: 0;
      }
      color: white;
      border-bottom: 1px solid rgba(white, .3) !important;


      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
  }
}