.positions-wrapper {
  min-width: 1000px;
  .position-item-wrapper {
    background-color: white;
    color: #0A0A1E;
    margin: .2rem auto;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    height: 5rem;
    border-radius: 10px;

    .position-item-address {
      a {
        color: #0A0A1E;
      }
    }

    .red-date {
      color: #F6029C;
    }

    .green-date {
      color: #2ECD94;
    }
  }
}