.header-wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(33, 37, 41);

  .header-title {
    font-size: 20px;
    color: white;
  }
  
  .header-buttons-wrapper {
    & > * {
      margin-left: 1rem;
    }
  }

  .header-network-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
  }

  .red-network {
    color: red;
  }
}